@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Krona+One&display=swap');
.balsamiq {
    font-family: 'Balsamiq Sans', sans-serif;
}
.slogan{
    font-size: 22px;
    font-family: 'Krona One', sans-serif;
}
.text {
    font-family: 'Balsamiq Sans', sans-serif;
}
.slider-text{
    margin-top: 20px;
    margin-bottom: 20px;
}
img {
height: 200px;

}
/*----------------------------recipe.html */
.recipe-image{
    margin-top: 20px;
    max-height: 300px;
    width: 100%;
}
.no-result{
    padding-bottom: 20px;
}
/*----------------------------*/
.btn_size {
    height: 24px;
    line-height: 24px;  
    width: 150px;
}
.recipe_name{
    margin-top: 10px;
    padding-left: 20px;
    font-size: 15px;
}
/*----------------------------Footer */
.footer{
    margin-top: 10px;
}
.social-links li {
    display: inline;
    padding-inline-end: 10px;
}

