
.btn_size {
    height: 24px;
    line-height: 24px;  
    width: 150px;
}
.recipe_name{
    margin-top: 10px;
    padding-left: 20px;
    font-size: 15px;
}
/*----------------------------Footer */
.footer{
    margin-top: 10px;
}
.social-links li {
    display: inline;
    padding-inline-end: 10px;
}

.slider-text{
    margin-top: 100px;
}