{% extends 'base.html' %}
{% block content %}
<h3>Add Recipe</h3>
<div class="row">
    <form action="" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
            <i class="material-icons prefix">outdoor_grill</i>
            <input id="recipe_name" name="recipe_name" type="text" class="validate">
            <label for="icon_prefix">Recipe Name</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <textarea name="recipe_description" id="recipe_description" class="materialize-textarea"></textarea>
            <label for="icon_telephone">Recipe Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <i class="material-icons prefix">settings</i>
            <textarea name="recipe_ingredients" id="recipe_ingredients" class="materialize-textarea"></textarea>
            <label for="icon_telephone">Recipe Ingredients</label>
        </div>
        </div>
        <div class="row">  
            <div class="input-field col s12">
            <i class="material-icons prefix">format_list_numbered</i>
            <textarea name="recipe_preparation" id="recipe_preparation" class="materialize-textarea"></textarea>
            <label for="icon_telephone">Recipe Preparation</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12 m6 l3">
        <i class="material-icons prefix">local_dining</i>
    <select class="recipe_cuisine" name="recipe_cuisine" >
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Pakistani</option>
      <option value="2">British</option>
      <option value="3">Chinese</option>
      <option value="4">American</option>
      <option value="5">Turkish</option>
      <option value="6">Italian</option>
      <option value="7">Mexican</option>
      <option value="8">French</option>
      <option value="9">Mediterranean</option>
      <option value="10">Indian</option>
    </select>
    <label>Select Cuisine</label>
  </div>        

<div class="input-field col s12 m6 l3">
        <i class="material-icons prefix">av_timer</i>
    <select id="cooking_time" name="cooking_time" >
      <option value="" disabled selected>Choose your option</option>
      <option value="1">0 - 10m</option>
      <option value="2">10 - 30m</option>
      <option value="3">30 - 1m</option>
      <option value="4">1 - 2h</option>
      <option value="5">2h +</option>
    </select>
    <label>Cooking Time</label>
  </div>        

  <div class="input-field col s12 m6 l3">
        <i class="material-icons prefix">format_list_bulleted</i>
    <select id="recipe_type" name="recipe_type" >
      <option value="" disabled selected>Choose your option</option>
      <option value="1">Starter</option>
      <option value="2">Main</option>
      <option value="3">Dessert</option>
      <option value="4">Tea</option>
      <option value="5">Drink</option>
     </select>
    <label>Type</label>
  </div>        

  <div class="input-field col s12 m6 l3">
        <i class="material-icons prefix">person</i>
    <select id="recipe_serving" name="recipe_serving" >
      <option value="" disabled selected>Choose your option</option>
      <option value="1">1 - 2</option>
      <option value="2">3 - 4</option>
      <option value="3">5 - 6</option>
      <option value="4">7 - 8</option>
      <option value="5">9 - 10</option>
      <option value="6">10 +</option>
     </select>
    <label>Serving</label>
  </div>        
<div class="row">
      <div class="input-field col s12" id="matfix">
        <i class="material-icons prefix">today</i>
        <input id="recipe_date" name="recipe_date" type="text" class="datepicker" />
        <label for="icon_prefix">Date</label>
      </div>
    </div>
        </div>
              
    </form>
    
</div>
{% endblock %}