<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
		type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
<header>
<nav class=" teal">
    <div class="nav-wrapper">
      <a href="{{url_for('get_recipes')}}" class="brand-logo">Recipebook</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{url_for('get_recipes')}}">Home</a></li>
        <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
        <li><a href="#"></a></li>
      </ul>
       <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_recipes')}}">Home</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                    <li><a href="#"></a></li>
                </ul>
    </div>
  </nav>
</header>
    <div class="container">
	{% block content %}
    
	{% endblock %}
    </div>
<footer class="teal footer">
          <div class="container">
    <div class="row center-align">
        <div class="col s12 m6">
            <p class="white-text"> Created with love and passion © 2020 MSS</p>
        </div>
        <div class="col s12 m6">
        <ul class="social-links">
            <li><a class="grey-text text-lighten-3" href="#" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i><span class="sr-only">Linkedin</span></a></li>
            <li><a class="grey-text text-lighten-3" href="#" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i><span class="sr-only">Github</span></a></li>
        </ul>
        </div>
    </div>
</div>
</footer>


    
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select(); 
            $(".button-collapse").sideNav();   
        });
        // Added underline code to show feedback message of required in the select
        //source stack overflow
        $("select[required]").css({display: "block", height: 0, padding: 0, width: 0, position: 'absolute'});
        $(".datepicker").pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: "Today",
        clear: "Clear",
        close: "Ok",
        closeOnSelect: false, // Close upon selecting a date,
      });
       // Added underline code to make date picker field required
      // source stack overflow
      $(".datepicker").prop('readonly', false);
     </script>
	<script>
		// Added following code as there is bug in Materialize for datepicker
      document.getElementById("matfix").addEventListener("click", function (e) {
        e.stopPropagation();
      });
	</script>
</body>

</html>