{% extends 'base.html' %}
{% block content %}
<h3>Edit Recipe</h3>

<div class="row">

    <form action="{{url_for('insert_recipe')}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
            <i class="material-icons prefix">outdoor_grill</i>
            <input id="recipe_name" name="recipe_name" type="text" class="validate" minlength="1" required>
            <label for="icon_prefix">Recipe Name</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12">
            <i class="material-icons prefix">subject</i>
            <textarea name="recipe_description" id="recipe_description" class="materialize-textarea" minlength="10" required></textarea>
            <label for="icon_telephone">Recipe Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <i class="material-icons prefix">settings</i>
            <textarea name="recipe_ingredients" id="recipe_ingredients" class="materialize-textarea" minlength="1" required></textarea>
            <label for="icon_telephone">Recipe Ingredients</label>
        </div>
        </div>
        <div class="row">  
            <div class="input-field col s12">
            <i class="material-icons prefix">format_list_numbered</i>
            <textarea name="recipe_preparation" id="recipe_preparation" class="materialize-textarea" minlength="10" required></textarea>
            <label for="icon_telephone">Recipe Preparation</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12 m6 l3">
        <i class="material-icons prefix">local_dining</i>
    <select class="recipe_cuisine" id="recipe_cuisine" name="recipe_cuisine" required>
      <option value="">Choose your option </option>
      <option value="Pakistani">Pakistani</option>
      <option value="British">British</option>
      <option value="Chinese">Chinese</option>
      <option value="American">American</option>
      <option value="Turkish">Turkish</option>
      <option value="Italian">Italian</option>
      <option value="Mexican">Mexican</option>
      <option value="French">French</option>
      <option value="Mediterranean">Mediterranean</option>
      <option value="Indian">Indian</option>
    </select>
    <label>Select Cuisine</label>
  </div>        

<div class="input-field col s12 m6 l3">
        <i class="material-icons prefix">av_timer</i>
    <select id="cooking_time" name="cooking_time" required>
      <option value="">Choose your option</option>
      <option value="0 - 10m">0 - 10m</option>
      <option value="10 - 30m">10 - 30m</option>
      <option value="30 - 1m">30 - 1m</option>
      <option value="1 - 2h">1 - 2h</option>
      <option value="2h +">2h +</option>
    </select>
    <label>Cooking Time</label>
  </div>        

  <div class="input-field col s12 m6 l3">
        <i class="material-icons prefix">format_list_bulleted</i>
    <select id="recipe_type" name="recipe_type" required>
      <option value="">Choose your option</option>
      <option value="Starter">Starter</option>
      <option value="Main">Main</option>
      <option value="Dessert">Dessert</option>
      <option value="Tea">Tea</option>
      <option value="Drink">Drink</option>
     </select>
    <label>Type</label>
  </div>        

  <div class="input-field col s12 m6 l3">
        <i class="material-icons prefix">person</i>
    <select id="recipe_serving" name="recipe_serving" required>
      <option value="">Choose your option</option>
      <option value="1 - 2">1 - 2</option>
      <option value="3 - 4">3 - 4</option>
      <option value="5 - 6">5 - 6</option>
      <option value="7 - 8">7 - 8</option>
      <option value="9 - 10">9 - 10</option>
      <option value="10 +">10 +</option>
     </select>
    <label>Serving</label>
  </div>        
<div class="row">
      <div class="input-field col s12" id="matfix">
        <i class="material-icons prefix">today</i>
        <input id="recipe_date" name="recipe_date" type="text" class="datepicker" required/>
        <label for="icon_prefix">Date</label>
      </div>
    </div>
        </div>
        <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe
    <i class="material-icons right">playlist_add</i>
  </button>        
        </div>
              
    </form>
    
</div>
{% endblock %}