{% extends 'base.html' %}
{% block content %}

<div class="row slider-text">
      <div class="col s12 m8 ">
      <div class="carousel images">
    <a class="carousel-item"><img src="static/images/beryani.jpg"></a>
    <a class="carousel-item"><img src="static/images/garlic.jpg"></a>
    <a class="carousel-item"><img src="static/images/tandori.jpg"></a>
    <a class="carousel-item"><img src="static/images/tikka.jpg"></a>
    </div>
      </div>
      <div class="col s12 m4">
      <h4>Share your favourite recipes with others.</h4>
      <p class="text">Nothing bring together people like food.</p>
      <a href="{{url_for('get_recipes')}}" class="waves-effect waves-light btn">View Recipes</a>
      </div>
    </div>

     
       
 {% endblock %}