{% extends 'base.html' %}
{% block content %}

<ul class="collapsible">
	{% for recipes in recipe %}
	<li>
		<div class="collapsible-header">
			<div class="col s4">
            <i class="material-icons">expand_more</i>
                <a href="" class="waves-effect waves-light btn btn_size">View</a>
			</div>
			<div class="col s8 recipe_name">
            <strong>{{recipes.recipe_name}}</strong> - {{recipes.recipe_cuisine}}</div>
			</div>
		<div class="collapsible-body"><span>{{recipes.recipe_description}}</span></div>
	</li>
	{% endfor %}
</ul>
{% endblock %}