{% extends 'base.html' %}
{% block content %}
<div class="row">
<div class="col s12">
<img class="responsive-img recipe-image" src="static/images/recipe.jpg" alt="Recipe Image">
</div>
</div>
{% if search%}
<h4 class="balsamiq">Search Result:</h4>
{% endif%}
<ul class="collapsible">
{% if not recipe %}
<h4 class="balsamiq center-align no-result">No Recipe Found</h4>
{% endif%}
	{% for recipes in recipe %}
	<li>
		<div class="collapsible-header">
			<div class="col s4">
            <i class="material-icons">expand_more</i>
                <a href="{{url_for('view_recipe', recipe_id=recipes._id)}}" class="waves-effect waves-light btn btn_size">View</a>
			</div>
			<div class="col s8 recipe_name">
            <strong>{{recipes.recipe_name}}</strong> - {{recipes.recipe_cuisine}}</div>
			</div>
		<div class="collapsible-body"><span>{{recipes.recipe_description}}</span></div>
	</li>
	{% endfor %}
</ul>
{% endblock %}